doctype html

html(lang = "ru")
    head
        meta(charset = "utf-8")
        meta(name = "viewport", content = "width=device-width,initial-scale=1")
        meta(name = "description", content = "Морские прогулки")

        title Морские прогулки по Черному морю

        link(type = "text/css", rel = "stylesheet", href = "css/normalize.css")
        link(type = "text/css", rel = "stylesheet", href = "css/styles.min.css")

    body
        header(class = "main-header")
            div(class = "main-header__wrapper")
                nav(class = "main-header__navigation navigation navigation--open")
                    button(class = "navigation__burger")
                    ul(class = "navigation__list")
                        li(class = "navigation__item")
                            a(class = "navigation__link", href = "#")
                                p Популярные маршруты
                        li(class = "navigation__item")
                            a(class = "navigation__link", href = "#")
                                p Расписание рейсов
                        li(class = "navigation__item")
                            a(class = "navigation__link", href = "#")
                                p Забронированные рейсы
                        li(class = "navigation__item")
                            a(class = "navigation__link", href = "#")
                                p Вход для партнеров
                        li(class = "navigation__item")
                            a(class = "navigation__link", href = "#")
                                p О компании
                        li(class = "navigation__item")
                            a(class = "navigation__link", href = "#")
                                p Контакты
                section(class = "main-header__user-block user-block")
                    ul(class = "user-block__list")
                        li(class = "user-block__item user-block__item--cabinet")
                            p Личный кабинет
                        li(class = "user-block__item user-block__item--currency")
                            p Рубль
                        li(class = "user-block__item user-block__item--language")
                            p Ru
                        li(class = "user-block__item user-block__item--support")
                            a(href = "#", class = "user-block__phone") 8 800 500-61-05
                            p(class = "user-block__support") Круглосуточная поддержка
                section(class = "main-header__promo promo")
                    img(class = "promo__logo", src = "img/logo.png", width = "70", height = "70")
                    h1(class = "promo__header-top") Морские прогулки
                    h2(class = "promo__header-bottom") по Черному морю
                    button(class = "promo__choose-cruise button") Выбрать круиз

        main(class = "main-content")
            h2(class = "main-content__header") Каталог круизов
            p(class = "main-content__filter") Сортировать круизы по #[span цене]
            ul(class = "main-content__list")
                li(class = "cruise-list__item cruise cruise--anapa cruise--popular")
                    picture
                        source(media = "(min-width: 1170px)", srcset = "img/anapa-desktop.png")
                        source(media = "(min-width: 750px)", srcset = "img/anapa-tablet.png")
                        img(class = "cruise__image", src = "img/anapa-mobile.png")
                    div(class = "cruise__wrapper")
                        h3(class = "cruise__header") Морской круиз в Анапу
                        p(class = "cruise__route") #[span Маршрут:] Сочи-Лазаревское-Геленджик-Анапа
                        p(class = "cruise__time") #[span Продолжительность:] 10 ч. 0 мин.
                        p(class = "cruise__price") 49 000 руб.
                li(class = "cruise-list__item cruise cruise--promotion")
                    picture
                        source(media = "(min-width: 1170px)", srcset = "img/sochi-desktop.png")
                        source(media = "(min-width: 750px)", srcset = "img/sochi-tablet.png")
                        img(class = "cruise__image", src = "img/sochi-mobile.png")
                    div(class = "cruise__wrapper")
                        h3(class = "cruise__header") Обзорная морская прогулка с экскурсией
                        p(class = "cruise__route") #[span Маршрут:] Сочи-Адлер-Сочи (без высадки)
                        p(class = "cruise__time") #[span Продолжительность:] 1 ч. 0 мин.
                        p(class = "cruise__price") 5 000 руб. #[span(class = "cruise__old-price") 15000 руб.]
                li(class = "cruise-list__item cruise cruise--discount")
                    picture
                        source(media = "(min-width: 1170px)", srcset = "img/gelendjik-desktop.png")
                        source(media = "(min-width: 750px)", srcset = "img/gelendjik-tablet.png")
                        img(class = "cruise__image", src = "img/gelendjik-mobile.png")
                    div(class = "cruise__wrapper")
                        h3(class = "cruise__header") Морская прогулка в Геленджик
                        p(class = "cruise__route") #[span Маршрут:] Сочи-Туапсе-Геленджик
                        p(class = "cruise__time") #[span Продолжительность:] 12 ч. 30 мин.
                        p(class = "cruise__price") 7 000 руб. #[span(class = "cruise__old-price") 10000 руб.]
                li(class = "cruise-list__item cruise")
                    picture
                        source(media = "(min-width: 1170px)", srcset = "img/novorossiysk-desktop.png")
                        source(media = "(min-width: 750px)", srcset = "img/novorossiysk-tablet.png")
                        img(class = "cruise__image", src = "img/novorossiysk-mobile.png")
                    div(class = "cruise__wrapper")
                        h3(class = "cruise__header") Морской круиз в Новороссийск
                        p(class = "cruise__route") #[span Маршрут:] Сочи-Геленджик-Новороссйиск-Геленджик-Сочи
                        p(class = "cruise__time") #[span Продолжительность:] 13 ч. 00 мин.
                        p(class = "cruise__price") 14 800 руб.
                li(class = "cruise-list__item cruise cruise--abrau")
                    picture
                        img(class = "cruise__image", src = "img/abrau-desktop.png")
                    div(class = "cruise__wrapper")
                        h3(class = "cruise__header") Морская прогулка в Абрау-Дюрсо
                        p(class = "cruise__route") #[span Маршрут:] Сочи-Абрау-Дюрсо
                        p(class = "cruise__time") #[span Продолжительность:] 11 ч. 00 мин.
                        p(class = "cruise__price") 14 800 руб.
            button(class = "main-content__button button") Больше круизов

        footer(class = "main-footer")
            nav(class = "main-footer__navigation navigation-footer")
                ul(class = "navigation-footer__list")
                    li(class = "navigation-footer__item")
                        a(class = "navigation-footer__link", href = "#") Вход для партнеров
                    li(class = "navigation-footer__item")
                        a(class = "navigation-footer__link", href = "#") О компании
                    li(class = "navigation-footer__item")
                        a(class = "navigation-footer__link", href = "#") Контакты
            section(class = "main-footer__social social")
                p(class = "social__head") Будь на связи:
                ul(class = "social__list")
                    li(class = "social__item")
                        a(href = "#", class = "social__link social__link--vk", aria-label = "Мы ВКонтакте")
                    li(class = "social__item")
                        a(href = "#", class = "social__link social__link--ok", aria-label = "Мы в Одноклассниках")
                    li(class = "social__item")
                        a(href = "#", class = "social__link social__link--yt", aria-label = "Мы в YouTube")
                    li(class = "social__item")
                        a(href = "#", class = "social__link social__link--inst", aria-label = "Мы в Instagram")
            section(class = "main-footer__support support")
                a(href = "#", class = "support__phone") 8 800 500-61-05
                p(class = "support__support") Круглосуточная поддержка
                p(class = "support__copyright") © 2016 OOO «Городские Круизы»

        section(class = "pop-up")
            ul(class = "pop-up__list")
                li(class = "pop-up__item pop-up__item--abrau")
                    button(class = "pop-up__close")
                    div(class = "pop-up__slider")
                        div(class = "pop-up__images")
                            img(class = "pop-up__image", src = "img/anapa/anapa-1.png", width = "360", height = "240")
                            img(class = "pop-up__image", src = "img/anapa/anapa-2.png", width = "360", height = "240")
                            img(class = "pop-up__image", src = "img/anapa/anapa-3.png", width = "360", height = "240")
                            img(class = "pop-up__image", src = "img/anapa/anapa-4.png", width = "360", height = "240")
                        div(class = "pop-up__slider-image")
                            img(class = "pop-up__slider-small-image", src = "img/anapa/anapa-1.png", onclick="currentDiv(1)")
                            img(class = "pop-up__slider-small-image", src = "img/anapa/anapa-2.png", onclick="currentDiv(2)")
                            img(class = "pop-up__slider-small-image", src = "img/anapa/anapa-3.png", onclick="currentDiv(3)")
                            img(class = "pop-up__slider-small-image", src = "img/anapa/anapa-4.png", onclick="currentDiv(4)")
                    div(class = "pop-up__content")
                        h3(class = "pop-up__header") Морская прогулка в Абрау-Дюрсо
                        p(class = "pop-up__route") #[span Маршрут:] Сочи-Абрау-Дюрсо
                        p(class = "pop-up__time") #[span Продолжительность:] 11 ч. 00 мин.
                        p(class = "pop-up__schedule") #[span Расписание:] #[br] Отправление из Сочи: ежедневно в 10:00, 11:40, 13:20, 15:00, 16:40 #[br] Отправление из Абрау-Дюрсо: ежедневно в 12:25, 14:05, 15:45, 17:25, 19:05 #[br] Продолжительность: 11 часов 0 мин., из которых 10 часов - морская прогулка (туда и обратно), от 1 часа 30 мин. - свободное время в Ласточкином гнезде #[br] Причал отправления/прибытия: набережная Ленина, причал №8, теплоход "Азов"
                        p(class = "pop-up__price") 14 800 руб.
                        button(class = "pop-up__button button") Бронировать


        script(src = "js/script.js")
