.button
  min-height 47px
  min-width 200px
  padding 0
  margin 0 auto
  font-family "Raleway Regular", Arial, sans-serif
  font-size 14px
  text-align center
  color #ffffff
  background-color #33c7fd
  border none
  box-sizing border-box