.main-header
  width 100%
  padding 25px 15px
  background-image url("../img/header-bg-mobile.png")
  background-repeat no-repeat
  background-size: cover;
  background-position: 50% 50%;
  box-sizing border-box

.main-header__wrapper
  max-width 290px
  margin 0 auto
  margin-bottom 200px
  position relative

  &::before
    content ""
    width 45px
    height 270px
    background-image url("../img/icons/trace.svg")
    background-size 100% 100%
    background-repeat no-repeat
    position absolute
    bottom: -270px;
    left 50%
    transform translateX(-22px)

@media (min-width: $tablet)
  .main-header
    background-image url("../img/header-bg-tablet.png")

  .main-header__wrapper
    max-width 720px
    display flex
    flex-wrap wrap
    align-items center

@media (min-width: $desktop)
  .main-header
    height 100vh
    background-image url("../img/header-bg-dekstop.png")

  .main-header__wrapper
    max-width 1140px

    &::before
      display none