.promo
  display flex
  flex-direction column
  position relative

.promo__logo {
  position absolute
  left 50%
  top -70px
  transform translateX(-35px)
}

.promo__header-top
  font-size 20px
  color #0d3351
  text-align center

.promo__header-bottom
  padding 0
  margin 0
  margin-bottom 40px
  font-size 50px
  letter-spacing -0.025em
  font-weight 200
  text-transform uppercase
  text-align center
  color #0d3351
