.promo
  display flex
  flex-direction column
  position relative

.promo__logo {
  position absolute
  left 50%
  top -70px
  transform translateX(-35px)
}

.promo__header-top
  font-size 20px
  color #0d3351
  text-align center

.promo__header-bottom
  padding 0
  margin 0
  margin-bottom 40px
  font-size 50px
  letter-spacing -0.025em
  font-weight 200
  text-transform uppercase
  text-align center
  color #0d3351

@media (min-width: $tablet)
  .promo
    width 100%
    padding-top 80px

  .promo__logo
    margin 0 auto
    display block
    position static
    transform translateX(0)

  .promo__header-top
    font-size 26px

  .promo__header-bottom
    font-size 72px

@media (min-width: $tablet)
  .promo
    width 100%
    margin auto

  .promo__logo
    margin 0 auto

  .promo__header-top
    font-size 36px

  .promo__header-bottom
    font-size 100px
